<nav>
  <ul>
    <li>
      <a href="#">Rezervace</a>
      <ul>
        <li><a href="{{ path('reservations_overview') }}">Přehled rezervací</a></li>
        <li><a href="{{ path('reservations_setup') }}">Nastavení rezervací</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Inventura</a>
      <ul>
        <li><a href="{{ path('inventory_import') }}">Import skladové zásoby</a></li>
        <li><a href="{{ path('inventory_scan') }}">Skenování</a></li>
        <li><a href="{{ path('inventory_compare') }}">Porovnání</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Activa</a>
      <ul>
        <li><a href="{{ path('import_activa') }}">Nová Activa na Shoptet</a></li>
        <li><a href="{{ path('update_activa') }}">Update Activa na Shoptetu</a></li>
        <li><a href="{{ path('inbound_activa') }}">Naskladnění na Shoptet</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Shoptet</a>
      <ul>
        <li><a href="{{ path('import_baagl') }}">Nový Baagl na Shoptet</a></li>
        <li><a href="{{ path('update_baagl') }}">Update Baagl na Shoptetu</a></li>
        <li><a href="{{ path('inbound_baagl') }}">Naskladnění na Shoptet</a></li>
        <li><a href="{{ path('missing_baagl') }}">Dohrání chybějících z naskladnění</a></li>
      </ul>
    </li>
  </ul>
</nav>
